{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventoria</title>
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <script src="{% static 'main.js' %}"></script>
    <style>
.images {
  width: 256px;
    height: 144px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

    </style>
</head>
<body>  
    <header>
        <div class="up">
            <a href="{% url 'events_list' %}"><img class="logos" src="{% static 'images/logo.svg' %}" alt="logo"></a>
            <button onclick="openModal()"   ><div  class="karta"><img src="{% static 'images/minimap.png' %}" alt=""><span class="city-pos">{% if selected_city %} {{ selected_city }}{% endif %}</span></div></button>

            <div id="cityModal" class="modal" onclick="closeModalOutside(event)">
                <div class="modal-content">
                  <span class="close-btn" onclick="closeModal()">&times;</span>
                  <span class="close-btn close-btn-top-right" onclick="closeModal()">&times;</span>
                  
                  {% comment %} <ul id="cityList">
                    <li><a href="https://www.almaty.kz/">Астана</a></li>
                    <li><a href="https://www.nur-sultan.org/">Алмата</a></li>
                    <li><a href="https://www.nur-sultan.org/">Шымкент</a></li>
                    <li><a href="https://www.nur-sultan.org/">Бишкек</a></li>
                    <li><a href="https://www.nur-sultan.org/">Туркестан</a></li>
                    <li><a href="https://www.nur-sultan.org/">Караганда</a></li>
                    <li><a href="https://www.nur-sultan.org/">Актобе</a></li>
                    <li><a href="https://www.nur-sultan.org/">Аксу</a></li>
                    <li><a href="https://www.nur-sultan.org/">Актау</a></li>
                    <li><a href="https://www.nur-sultan.org/">Атырау</a></li>
                    <li><a href="https://www.nur-sultan.org/">Жанаозен</a></li>
                    <li><a href="https://www.nur-sultan.org/">Жезказган</a></li>
                    <li><a href="https://www.nur-sultan.org/">Кокшетау</a></li>
                    <li><a href="https://www.nur-sultan.org/">Костанай</a></li>
                    <li><a href="https://www.nur-sultan.org/">Кызылорда</a></li>
                    <li><a href="https://www.nur-sultan.org/">Павлодар</a></li>
                    <li><a href="https://www.nur-sultan.org/">Петропаловск</a></li>
                    <li><a href="https://www.nur-sultan.org/">Риддер</a></li>
                    <li><a href="https://www.nur-sultan.org/">Рудный</a></li>
                    <li><a href="https://www.nur-sultan.org/">Семей</a></li>
                    <li><a href="https://www.nur-sultan.org/">Талгар</a></li>
                    <li><a href="https://www.nur-sultan.org/">Талдыкорган</a></li>
                    <li><a href="https://www.nur-sultan.org/">Тараз</a></li>
                    <li><a href="https://www.nur-sultan.org/">Темиртау</a></li>
                    <li><a href="https://www.nur-sultan.org/">Уральск</a></li>
                    <li><a href="https://www.nur-sultan.org/">Усть-Каменогорск</a></li>
                    <li><a href="https://www.nur-sultan.org/">Экибастуз</a></li>
                    <li><a href="https://www.nur-sultan.org/">Ташкент</a></li>
                  </ul> {% endcomment %}
                  <form method="get">
                    <label for="city">Select a city:</label>
                    <select name="city" id="city">
                        <option value="all">All Cities</option>
                  <option value="astana">Astana</option>
                  <option value="almaty">Almaty</option>
                  <option value="tashkent">tashkent</option>
                  <option value="ekibastus">ekibastus</option>
                  <option value="taraz">taraz</option>
                  <option value="semei">semei</option>
                  <option value="rudni">rudni</option>
                  <option value="pavlodar">pavlodar</option>
                  <option value="kostanai">kostanai</option>
                  <option value="janaozen">janaozen</option>
                  <option value="aktau">aktau</option>
                  <option value="aktobe">aktobe</option>
                    </select>
                    <button type="submit">выбрать</button>
                </form>
                </div>
              </div>


            <div class="left-side">
                <div class="language" class="burger-menu">
                  <div class="burger-icon" id="burger-icon">русский
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                  <div class="manu" id="menu">
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="language-option">English</a>
                    <a href="https://www.youtube.com/watch?v=9bZkp7q19f0" class="language-option">Español</a>
                    <a href="https://www.youtube.com/watch?v=k85mRPqvMbE" class="language-option">Français</a>
                    <!-- Добавьте другие языки по необходимости -->
                  </div>
                </div>
                
                <div class="persom">
                    {% if user.is_authenticated %}
                   <a href="{% url 'profile' %}">
                    {% else %}
                    <a href="{% url 'login_or_register' %}">
                      {% endif %}
                      <img src="{% static 'images/persom.png' %}" alt="Your Image">
                       </a>
                    
                    {% comment %} <a href="profile.html"><img src="persom.png" alt=""></a> {% endcomment %}
                
                
                </div>
            </div>
        </div>
        <div class="menu">
            
            <div class="menus"><a class="a-menu" href="{% url 'events_list' %}"><img class="img-menu" src="{% static 'images/menu2.png' %}" alt=""><span class="men-2">Афиша</span></a></div>
            <div class="menus"><a class="a-menu" href="{% url 'places_list' %}"><img class="img-menu" src="{% static 'images/minimap.png' %}" alt=""><span class="men-3">Места</span></a></div>
            <div class="menus"><a class="a-menu" href="#bottom"><img class="img-menu" src="{% static 'images/menu4.png' %}" alt=""><span class="men-4">Журнал</span></a></div>
        </div>
    </header>
    <section>
        <h1 class="h1s">События</h1>
        
    <!-- <div class="grid-container">
        {% for event in events|slice:":16" %}
            <div class="grid-item">
                <a href="{% url 'event_detail' event.id %}">
                    <img src="{{ event.preview_image.url }}" alt="{{ event.title }}" style="max-width: 100%; max-height: 100px;">
                    <h3>{{ event.title }}</h3>
                </a>
                <p>{{ event.short_description }}</p>
            </div>
        {% endfor %}
    </div> -->


    <div class="container-info">
        {% csrf_token %}
        {% for event in events|slice:":16" %}
        <div class="item">
            <div class="info-img-1"><img class="images" src="{{ event.preview_image.url }}" alt=""></div>
            <div><p class="info-name"><b><a href="{% url 'event_detail' event.id %}">{{ event.title }}</a></b></p>
            <p class="info-text">{{ event.short_description }}</p></div>
        </div>
        {% endfor %}
    </div>




    <section class="jurnal">
        <h2>Журнал</h2>
        <div class="sos">
            <div class="itemes">
                <div class="img-sos-1"><img class="imomo" src="{% static 'images/1.jpg' %}" alt=""></div>
                <div class="text-sos">
                    <p class="podborki">подборки</p>
                    <p class="text-sos-sos"><a href="{% url 'prasdniki'  %}">Праздник к нам приходит: места, где можно купить новогодние товары в Астане   </a></p>
                </div>
            </div>
            <div class="itemes">
                <div class="img-sos-2"><img class="imomo" src="{% static 'images/2.jpg' %}" alt=""></div>
                <div class="text-sos">
                    <p class="podborki">подборки</p>
                    <p class="text-sos-sos"><a href="{% url 'prasdniki'  %}">Где провести новогодний корпоратив в Астане. Часть 2</a></p>
                </div>
            </div>
            <div class="itemes">
                <div class="img-sos-3"><img class="imomo" src="{% static 'images/3.jpg' %}" alt=""></div>
                <div class="text-sos">
                    <p class="podborki">подборки</p>
                    <p class="text-sos-sos"><a href="{% url 'prasdniki'  %}">Где провести новогодний корпоратив в Астане. Часть 1</a></p>
                </div>
            </div>
            <div class="itemes">
                <div class="img-sos-4"><img class="imomo" src="{% static 'images/4.jpg' %}" alt=""></div>
                <div class="text-sos">
                    <p class="podborki">подборки</p>
                    <p class="text-sos-sos"><a href="{% url 'kinoroom'  %}">Где отметить День Рождения в Астане?</a></p>
                </div>
            </div>
            <div class="itemes">
                <div class="img-sos-5"><img class="imomo" src="{% static 'images/5.jpg' %}" alt=""></div>
                <div class="text-sos">
                    <p class="podborki">подборки</p>
                    <p class="text-sos-sos"><a href="{% url 'prasdniki'  %}">12 ресторанов с красивым видом в Астане</a></p>
                </div>
            </div>
            <div class="itemes">
                <div class="img-sos-6"><img class="imomo" src="{% static 'images/6.jpg' %}" alt=""></div>
                <div class="text-sos">
                    <p class="podborki">подборки</p>
                    <p class="text-sos-sos"><a href="{% url 'kinoroom'  %}">13 кинорумов Астаны</a></p>
                </div>
            </div>
            <div class="itemes">
                <div class="img-sos-7"><img class="imomo" src="{% static 'images/7.jpg' %}" alt=""></div>
                <div class="text-sos">
                    <p class="podborki">подборки</p>
                    <p class="text-sos-sos"><a href="{% url 'prasdniki'  %}">Лучшие загородные зоны отдыха вблизи Астаны</a></p>
                </div>
            </div>
            <div class="itemes">
                <div class="img-sos-8"><img class="imomo" src="{% static 'images/8.jpg' %}" alt=""></div>
                <div class="text-sos">
                    <p class="podborki">подборки</p>
                    <p class="text-sos-sos"><a href="{% url 'kinoroom'  %}">«Шырақ»: история о свечке, что зажгла огонь в сердце отечественной анимационной индустрии
                    </a></p>
                </div>
            </div>
            <div class="itemes">
                <div class="img-sos-9"><img class="imomo" src="{% static 'images/9.jpg' %}" alt=""></div>
                <div class="text-sos">
                    <p class="podborki">подборки</p>
                    <p class="text-sos-sos"><a href="{% url 'prasdniki'  %}">Где отметить Хэллоуин в Астане</a></p>
                </div>
            </div>
          </div>
          <div id="bottom"></div>
    
        </section>

        <footer>

    
            <div class="footer-center">
                <div class="fuuter">
                    <div class="inner-fuuter">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-telegram fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        
                    </div>
                    <div class="inner-fuuter">
                        <a href="">О нас</a>
                        <a href="">Контакты</a>
                        <a href="">Поддержать нас</a>
                        <a href="">Политика сайта</a>
                        
                    </div>
                    <div class="inner-futer">
                        <p>Our project</p>
                        <p>Cazino</p>
                    </div>
                </div>
            </div>
        </footer>
    
</body>
</html>
